<footer id="footer" class="footer">
    <div class="copyright">
        <span>&copy; <%= config.author %> 2016-<%= new Date().getFullYear() %>. All rights reserved. | <a href="http://beian.miit.gov.cn" target="_blank">粤ICP备17050016号-2</a></span>
    </div>
</footer>
